<head>
	<meta charset="utf-8">
	{% load static %}
</head>

<body style="background-color: #f79131;">
	<center>
	<h2 style="color: white;
				text-decoration: underline;">
		Título llamativo
	</h2>
	</center>
	{% for project in projects %}
		<img src="{% static project.image %}" style="float: left; margin: 30px;"/>
	{% endfor %}
	<p style="background-color: white; padding: 30px;">
		Párrafo muy informativo.
		Párrafo muy informativo. 
		Párrafo muy informativo. 
		Párrafo muy informativo. 
		Párrafo muy informativo. 
		Párrafo muy informativo. 
		Párrafo muy informativo. 
		Párrafo muy informativo.
		Párrafo muy informativo.
		Párrafo muy informativo. 
		Párrafo muy informativo. 
		Párrafo muy informativo. 
		Párrafo muy informativo. 
		Párrafo muy informativo.
		Párrafo muy informativo.
		Párrafo muy informativo. 
		Párrafo muy informativo. 
		Párrafo muy informativo. 
		Párrafo muy informativo. 
		Párrafo muy informativo.
	<br/> 
		Párrafo muy informativo. 
		Párrafo muy informativo.
		Párrafo muy informativo.
		Párrafo muy informativo. 
		Párrafo muy informativo. 
		Párrafo muy informativo. 
		Párrafo muy informativo. 
		Párrafo muy informativo. 
		Párrafo muy informativo. 
		Párrafo muy informativo.
		Párrafo muy informativo.
		Párrafo muy informativo. 
		Párrafo muy informativo. 
		Párrafo muy informativo. 
		Párrafo muy informativo. 
		Párrafo muy informativo.
	</p>
	
	
</body>